{% extends 'main.html' %}
<!--  -->
{% block content %}
<style>
    .room-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px;
    }
</style>
<div class="room-container">
    <div >
        <h1>room template</h1>
        <span>@{{room.host.username}}</span>
        <h3>{{room.name}}</h3>
        <p>{{room.description}} </p>
        <h5>{{room.topic.name}} </h5>

        <div class="comment-wrapper">

            <h1>messages</h1>
            
            {% for message in room_messages  %}
            <h4>@{{message.user.username}} </h4>
            <span>{{message.created|timesince}} ago</span>
            <p> {{message.body}}</p>
            {% endfor %}
            
            {% if request.user.is_authenticated %}
                
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="message" placeholder="Type Message">
            </form>
            {% endif %}
                
        </div>
    </div>
    <div>
        <h2>participants</h2>
        <hr>
        
        {% for participant in participants %}
            <h4>{{participant.username}} </h4>
        {% endfor %}
            
    </div>
</div>  
{% endblock content %}
